*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: rgb(27,27,27);
}

.conta{
    display: flex;
    justify-content: center;
    background: #fff;
    flex-wrap: wrap;
}

.cards {
    background-color: rgb(247, 245, 245);
    width: 295px;
    border-radius: 18px;
    height: 580px;
    margin: 20px;
    transition: 0.6s;}
 

 .card-imgs {
    background-color: #fff;
    height: 430px ;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
 }

 .cards h3 {
    text-align: center;
 }

 .cards h4{
    text-align: center;
    margin-top: 5px;
 }

 .cards p{
    padding: 10px;
    
    
  }


 .cards .l{
    padding: 0px;
    margin-left:10px;
    margin-top: 35px;
    
  }
  .cards .k{
    padding: 10px;
    margin-top: -13px;
    margin-left: 82px;
    
  }




.cards:hover{
    background: linear-gradient(white,hotpink);
    color: #fff;
    cursor: pointer;
    transform: scale(1.09);
    transform: all is ease;
  
   }

.cards .social-icon{
    position:relative;
    margin-left: 105px;
    margin-top: -25px;
    

}
.cards .social-icon:hover a{
    color: #fff;
}

.cards .social-icon2:hover a{
    color: #fff;
} 

.cards .social-icon img{
    width: 20px;
    margin-top: -3px;
    margin-left: 45px;
    align-items: center;
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;
    
    
}
.cards .social-icon2{
    position:relative;
    margin-left: 185px;
    margin-top: -30px;
    align-items: end;
    
    

}

.cards .social-icon2 img{
    width: 20px;
    display: flex;
    margin-bottom: 15px;
    align-items: flex-end;
    
}

.cards .social-icon2 a {
    text-align:start;
    margin-left: -115%;
    display: flex;
    color: #000;   
}

.cards .social-icon a {
    color: #000;
    display: flex;
}

 